*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}
.section{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 40px;
  background-color: #143a47;
  line-height: 40px;
  color: white;
  font-size: 17px;
}
.sec1{
  width: 50%;
}
.sec1 p{
  margin-left: 80px;
}
.sec2{
  width: 50%;
}
.sec2 ul{
  display: flex;
  justify-content: end;
  margin-right: 80px;
}
.sec2 ul li{
  margin-left: 30px;
}
.section1{
  height: 80px;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.nav{
  width: 25%;
}
.nav img{
  margin-left: 80px;
  height: 26px;
  width: 170px;
}
.nav1{
  width: 50%;
}
.nav1 .submenu1{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}
.nav1 .submenu1 li{
  position: relative;
}
.submenu1 li .submenu {
  position: absolute;
  left: -20px;
  padding-top: 10px;
  width: 180px;
  background-color: #fff;
  margin-top: -40px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: all 0.3s ease;
  text-align: start;
  padding: 0;
  border: 1px solid rgba(17, 17, 17, .1);

}
.sub{
  position: absolute;
  top: 50px;
  left: -350px;
  padding-top: 10px;
  width: 1300px;
  height: 330px;
  background-color: #fff;
  margin-top: -40px;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: all 0.3s ease;
  text-align: start;
  padding: 0;
  border: 1px solid rgba(17, 17, 17, .1);
  display: flex;
  justify-content: space-around;
}
.sub1{
  height: 200px;
  width: 300px;
  margin-top: 50px;
}
.sub1 img{
  margin-left: 40px;
}
.sub1 p{
  text-align: center;
}
.submenu li a{
  text-decoration: none;
  color: black;
}
.submenu1 li a{
  text-decoration: none;
  color: black;
}
.submenu1 li .submenu li {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #111c;
  display: inline-block;
  padding: 3px 18px;
  cursor: pointer;
  line-height: 32px;
}

.submenu1 li:hover .submenu {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;

}
.submenu1 li:hover .sub {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;

}
.submenu1 li .submenu li:hover {
  background-color: #1111110d;
}
.nav2{
  width: 25%;
  text-align: end;
  padding-right: 80px;
}
.nav2 i{
  margin-right: 12px;
  font-size: 25px;
}
.nav2 a{
  text-decoration: none;
  color: black;
}
.series{
    height: 500px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.series1{
    width: 45%;
}
.se1{
    display: flex;
}
#btn{
  background-color: #143a47;
  width: 90%;
  margin: auto;
  padding: 6px 10px;
  color: white;
}
.se3{
    padding-left: 20px;
    padding-right: 20px;
}
.se2 a{
    border: 1px solid black;
    background-color: #143a47;
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.series1 ul li{
    list-style: disc;
}
#free {
    color: blue;
    font-weight: 600;
}
#free a{
    color: white;
    font-size: 10px ;
    padding: 3px 7px;
    background-color: blue;
    text-decoration: none;
}
.cart2{
  height: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.ca{
  width: 20%;
}
.ca img{
  height: 80px;
  padding-top: 10px;
  width: 90px;
}
.ca1{
  width: 50%;
}
.ca1 p{
  margin: 0%;
}
.c{
  height: 40px;
  width: 140px;
  border: 1px solid black;
  margin-top: 0%;
  display: flex;
  justify-content: space-around;
}
.c1{
  font-size: 30px;
  border: 1px solid black;
  width: 32%;
}
.c2{
  font-size: 30px;
  width: 32%;
  border: 1px solid black;
}
.c3{
  font-size: 30px;
  border: 1px solid black;
  width: 32%;
}
.cart3{
  display: flex;
  margin-top: 90%;
  justify-content: space-between;
}
.cart4 button{
  width: 100%;
  height: 40px;
  background-color: #143a47;
  color: white;
}